[general]
name =
type =
hitpoints =
weakness_type =
weakness_impact =
resistance_type =
resistance_impact =
retreat_cost =
image_file =

[evolution]
evolution_stage =
evolves_from =
evolution_image_file =

[attacks]
attack_one =
attack_one_description =
attack_one_damage =
attack_one_energy =
attack_two =
attack_two_description =
attack_two_damage =
attack_two_energy =
